{% if request.user.is_authenticated %}
    <p>
        Hello, {{ request.user.username }}!
    </p>
    <a href="/polls/create">New Poll</a>
{% endif %}

<p align="right">
    {% if not request.user.is_authenticated %}
        <a href="/accounts/login">Login</a>
        <a href="/registration/signup">Sign Up</a>
    {% endif %}
    {% if request.user.is_authenticated %}
        <a href="/accounts/logout">Logout</a>
    {% endif %}
  </p>
  
  {% block content %}
  <p>
      This is a placeholder block.
  </p>
  {% endblock %}
  